/* LINK DA FONT */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Quicksand&family=Roboto&display=swap');

/* Estilizações genéricas */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg, #0D273D 0%, #2C80C9 100%);
    color: white;
}

/* Estilização do Header */
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 150px;
    margin: 20px 0 20px 0;
}

.containerHeader{
    display: flex;
    align-items: center;
    gap: 15px;
}

.containerHeader img{
    width: 50px;
}

.containerHeader h2{
    font-family: 'Comfortaa', cursive;
}

header nav{
    display: flex;
    gap: 10px;
}

header nav a{
    font-family: 'Quicksand', sans-serif;
    padding: 5px 20px;
    border: 3px solid white;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

header nav a:hover{
    background-color: white;
    color:#2C80C9;
    transition: ease-in-out 0.3s;
}

header nav a:active{
    background-color: #EEE;
    border-color: #EEE;
}

/* Estilização do conteudo principal */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid white;
    margin-bottom: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin-top: 50px;
}

.descricao{
    margin-bottom: 50px;
}

.descricao h1{
    font-family: 'Comfortaa', cursive;
    margin-bottom: 5px;
}

.descricao p{
    font-family: 'Quicksand', sans-serif;
}

.musica{
    width: 350px;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.musica figure{
    width: 225px;
    height: 225px;
}

.musica figure img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.musica .nomeMusica h2{
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-bottom:0;
}

.musica .duracao{
    margin: 15px 0;
}

.musica .duracao .barra{
    width: 225px;
    height: 8px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.musica .duracao .barra progress{
    width: 0;
    height: 8px;
    accent-color: black;
}

.musica .duracao .ponto{
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background-color: black;
    border-radius: 50%;
}

.musica .duracao .tempo{
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

.botoes{
    width: 225px;
    margin-bottom: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.botao-play, .botao-pause{
    font-size: 35px;
    cursor: pointer;
}

.botoes .botao-pause{
    display: none;
}

.setas{
    font-size: 25px;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

footer p{
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-height: 900px){
    .musica{
        height: 50vh;
    }
}

@media screen and (max-width: 750px) and (max-height: 900px){
    header{
        max-width: 500px;
        margin: auto;
        padding: 20px 0;
    }
    .containerHeader h2{
        font-size: 1.15rem;
    }
    header nav a{
        border: 2px solid white;
        font-size: 0.75rem;
    }

    .container{
        max-width: 500px;
    }

    .descricao h1{
        font-size: 1.5rem;
    }

    .descricao p{
        font-size: 0.8rem;
    }
}

@media screen and (max-height: 750px) {
    .musica{
        height: 60vh;
    }
}

@media screen and (max-width: 570px) and (max-height: 920px){
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    .containerHeader img{
        width: 75px;
    }
    header nav{
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    header nav a{
        padding: 10px 100px;
    }

    .container{
        max-width: 350px;
    }
}

@media screen and (max-height: 600px) {
    .musica{
        height: 65vh;
    }
}





